<%= form_with(model: [report, comment]) do |form| %>
    <div class="content_area">
      <%= form.text_area :content %>
    </div>
    <div class="actions">
      <%= form.submit "コメントする" %>
    </div>
<% end %>