<div id="description">
<h1>Homeruとは</h1>
<div class="app_description">
  <p>こんにちは！ 作成者のShirasaka-Takahiro(<a href="https://www.twitter.com/daikyoukin913" target="_blank">@daikyoukin913</a>)です！</p>
  <p>突然ですが、最近誰かから褒められましたか？？</p>
  <p>もしそうじゃなければ、このアプリでいっぱい褒められましょう！</p>
  <div class="usage">
    <h2>使い方</h2>
    <p>このアプリはお気に入りの写真を投稿するアプリです。</p>
    <p>ログインまたは新規登録 -> 画面中央の新規投稿 -> 写真投稿 </p>
  </div>
  <div class="functions">
  <h2>出来ること</h2>
    <p>・写真投稿</p>
    <p>・詳細画面からお気に入り</p>
    <p>・コメント(ログイン時のみ)</p>
    <p>・マイページから投稿、お気に入りを確認</p>
    <p>・投稿検索</p>
  </div>
  <div class="conclusion">
  <h2>最後に</h2>
    <p>このアプリの目的は<span>『褒める』</span>です。</p>
    <p>なので、誹謗中傷的なコメントはご遠慮して頂いております。</p>
    <p>何かあれば下記のTwitterよりご連絡ください。</p>
    <a href="https://www.twitter.com/daikyoukin913" target="_blank">
      <p>Shirasaka-TakahiroのTwitter</p>
    </a>
  </div>
  <h2>みんなで褒めていきましょ！</h2>
</div>
</div>
