<div id="description">
<h1>What is Homeru?</h1>
<div class="language">
  <% if current_page?(descriptions_path) %>
    <span><%= link_to 'English', description_english_index_path, class:"btn" %></span>
  <% else %>
    <span><%= link_to '日本語', descriptions_path, class:"btn" %></span>
  <% end %>
</div>
<div class="app_description">
  <p>Hello!! My name is Shirasaka-Takahiro!(<a href="https://www.twitter.com/daikyoukin913" target="_blank">@daikyoukin913</a>)</p>
  <p>This quite sudden to ask、but do you recently get complements from anyone?</p>
  <p>If not so, let's get as many compliments as you can on this app!</p>
  <div class="usage">
    <h2>Usage</h2>
    <p>I created this app for posting your favorites photos, and share them with otheres.</p>
    <p>Sigh in(ログイン) or registration(新規登録) -> new posting(新規投稿), which is in the center of screen -> post a photo </p>
  </div>
  <div class="functions">
  <h2>What you can do</h2>
    <p>・Posting photos</p>
    <p>・Like photos</p>
    <p>・Comment(whent you are signed in)</p>
    <p>・Check your likes and posts in your own page </p>
    <p>・Search photos</p>
  </div>
  <div class="conclusion">
  <h2>In the end</h2>
    <p>The purpose of this app is <span>『compliment』</span></p>
    <p>So, if you get slander or label, the developer will deal with that.</p>
    <p>If you have some questions, please let me know via Twitter below.</p>
    <a href="https://www.twitter.com/daikyoukin913" target="_blank">
      <p>Shirasaka-Takahiro's Twitter</p>
    </a>
  </div>
  <h2>Let's be happy on this app!!</h2>
</div>
</div>


